.container {
  margin-left: 5%;
  margin-right: 5%;
}

.nav-bar {
  display: flex;

  /* justify-content: space-between; */
  align-items: center;
}

.nav-items {
  list-style: none;
  padding: 0;
  display: flex;
}

.main-header {
  font-size: 32px;
  margin-right: 40%;
}

.list-item {
  margin: 0 20px 0 20px;
}

.divider {
  border: 2px solid black;
  height: 18px;
}

.links {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.img-container {
  width: 40%;
  margin-bottom: 30px;
}

.description-container {
  width: 70%;
  margin-bottom: 30px;
}

#btn {
  color: gray;
}

.table-width {
  width: 60%;
}

.flexy {
  display: flex;
}

.filter-width {
  width: 400px;
  margin-right: 50px;
}

.bg-badgeActiveColor {
  background-color: #18a2b8;
  border-color: #45a293;
  border: 3px solid;
  color: #45a293;
  border-radius: 100px;
}

.center-text {
  text-align: center;
  vertical-align: middle;
}

.logo {
  width: 60px;
  margin-right: 2%;
}
